@import url('https://fonts.googleapis.com/css?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 30px;
    color: #181717bb;
    text-shadow: 1px rgb(218, 209, 209)

}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 20px;
    color:#ffffff;
    margin: 15px 0 12px 0;
}
 
.section-p1{
    padding: 30px 40px;
}

.section-m1{
    margin: 40px 0;
    box-shadow: 2px 2px 12px 12px #a2a0a0;
    border: 5px solid black;
    border-radius: 50PX;
}

.section-m2{
    margin: 40px 0;
}

.section-m3{
    margin: 40px 0;
    box-shadow: 2px 2px 10px 5px rgba(248, 236, 70, 0.619);
    border: 2px solid black;
    border-radius: 20PX;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 17px 30px;
    color: #222;
    background-color: #e0dddd;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 15px;
    font-weight: 900;
    padding: 9px 15px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #000000;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
    background-color: rgba(24, 24, 24, 0.966);
}

/* HEADER START*/

#Header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    background: #a2a0a0;
    box-shadow: 0 5px 15px rgb(248, 236, 70);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#Header .Logo {
    width: 250px ;
    height: 80px ;
}

#Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navbar li{
    list-style: none;
    padding: 0 30px;
    position: relative;
}

#Navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease; 
}

#Navbar li a:hover,
#Navbar li a.active{
    color: #f1f515e3;

}

#Navbar li a.active::after,
#Navbar li a:hover::after{
    content: "";
    width: 40%;
    height: 2px;
    background: #f1f515e3;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#Mobile{
    display: none;
    align-items: center;
}

#Close{
    display: none;
}
/*Home page*/

#Hero{
    background-image: url(img/index/Hero/Hero-1.png);
    background-repeat: no-repeat;
    height: 90vh;
    width: 101%;
    background-position: right top;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#Hero h4{
    color: #6d6c6c;
    padding-bottom: 10px;
}
#Hero h1{
    color: #a2a0a0;
}
#Hero h2{
    color: #f1f515e3;
}

#Product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Product .As-box{
    width: 146px;
    height: 178px;
    text-align: center; 
    box-shadow: 2px 2px 12px 12px #a2a0a0;
    border: 3px solid black;
    border-radius: 10px;
    margin: 15px 0;
    cursor: pointer;
}

#Product .As-box img{
    width: 100%;
    margin-bottom: 10px;
}

#Product .As-box h6{
    font-size: 15px;
}

#Product .As-box:hover{
    box-shadow: 2px 2px 15px 12px #dcd9d9;
}

#Samples{
    text-align: center;
}

#Samples .Pro-container{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Samples .Pro{
    width: 20%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #a2a0a0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px 15px 1px rgba(129, 126, 126, 0.6);
    margin: 15px 10px;
    transition: 0.2s ease;
    position: relative;
}

#Samples .Pro:hover{
    box-shadow: 2px 2px 25px 1px rgba(129, 126, 126, 0.9);
}

#Samples .Pro img{
    width: 100%;
    border-radius: 20px;
}

#Samples .Pro .des{
    text-align: start;
    padding: 10px 0;
}

#Samples .Pro .des span{
    color: #f1f515e3;
    font-size: 12px;
}

#Samples .Pro .des h5{
    padding-top: 7px;
    color:#a2a0a0;
    font-size: 14px;
}

#Samples h2{
    color: #f3f707;
    font-size: 60px;
}

#Samples .Pro .des i{
    margin-top: 3px;
    font-size: 14px;
    color: #ffffff;
}

#Samples .Pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #f3f707;
    text-shadow: 1px 1px rgba(160, 160, 160, 0.685);
}

#Samples .Pro .Cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: rgba(251, 255, 3, 0.432);
    font-weight: 700;
    color:#ffffff;
    border: 1px solid rgba(251, 255, 3, 0.8);
    position:absolute;
    bottom: 20px;
    right: 10px;
}

#Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/index/Banner/Fondo\(Banner\)-1.jpeg);
    width: 100%;
    height: 40vh;
    background-size:contain;
    background-position: center;
}

#Banner h4{
    color: #e0dddd;
    font-size: 16px;
}

#Banner h2{
    color: #e0dddd;
    font-size: 30px;
    padding: 10px 0;
}

#Banner h2 span{
    color: #f1f515e3;
}

#Banner button:hover{
    background: #d1d404;
    color: #a2a0a0;
}

#SM-Banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#SM-Banner .Banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(img/index/Banner/Fondo\(Banner\)-2.png);
    min-width: 650px;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 50px;
}

#SM-Banner .Banner-box2{
    background-image: url(img/index/Banner/Fondo\(Banner\)-3.png);
}

#SM-Banner h4{
    color: #f3f707;
    font-size: 20px;
    font-weight: 300;
}

#SM-Banner h2{
    color: #000000;
    font-size: 40px;
    font-weight: 800;
}

#SM-Banner span{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#SM-Banner .Banner-box:hover button{
    background-color: #8d8c8c;
    border: 1px solid #8d8c8c;
    font-size: medium;
}

#Newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-position: 20% 30%;
    background-color: #a2a0a0
}

#Newsletter h4{
    font-size: 30px;
    font-weight: 700;
    color: #000000;
}

#Newsletter p{
    font-size: 14px;
    font-weight: 600;
}

#Newsletter p span{
    color: #f3f707;
}

#Newsletter .Form{
    display: flex;
    width: 40%;
}

#Newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

#Newsletter button{
    white-space: nowrap;
    margin-left: 1px;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .Col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .Col .Logo{
    width: 40%;
    height: 40%;
    background: #a2a0a0 ;
    border-radius: 30% 30%;
    box-shadow: 2px 2px 15px 1px rgba(129, 126, 126, 0.6);
}

footer h4{
    font-size: 14px;
    color: white;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    color: #f3f707;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    margin : 0 0 8px 0;
    color: #f3f707;
    margin-bottom: 10px;
}

footer .Follow{
    margin: 20px;
}

footer .Follow i{
    color: #000000;
    padding-right: 4px;
    cursor: pointer;
}

footer .Install img{
    margin: 10px 0 15px 0;
}

footer .Follow i:hover,
footer a:hover{
    color: #ffffff;
}

footer .Copyright{
    width: 100%;
    text-align: center;
}

/* Product */

#Page-header-product{
    background-image: url(img/shop/Header/Headder\(2\).jpg);
    width: 100%;
    height: 40vh;
    background-size: contain;
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
    padding: 14px;
    box-shadow: 2px 2px 20px rgb(255, 255, 0);
}

#Page-header-product h2,
#Page-header-product p{
    color: #d1d404;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #000000;
}
/* Shop Page */

#Page-header{
    background-image: url(img/shop/Header/Header\(1\).jpg);
    width: 100%;
    height: 40vh;
    background-size: auto;
    display: flex;
    justify-content: center; 
    text-align: center;
    flex-direction: column;
    padding: 14px;
    box-shadow: 2px 2px 20px rgb(255, 255, 0);
}

#Page-header h2,
#Page-header p{
    color: #d1d404;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 5px 5px #000000;
}

#Pagination{
    text-align: center;
}

#Pagination a{
    text-decoration: none;
    background-color: #e0dddd;
    padding: 15px 20px;
    border-radius: 4px;
    color:#000000;   
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Pagination a i{
    font-size: 20px;
    font-weight: 600;
}

/* Single Product*/

#Prodetails{
    display: flex;
    margin-top: 20px;
}

#Prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#Prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#Prodetails .single-pro-details h6{
    color: #a2a0a0;
}

#Prodetails .single-pro-details h4{
    color: #e0dddd;
    padding: 40px 0 20px 0;
}

#Prodetails .single-pro-details h2{
    font-size: 26px;
    color: #f3f707;
}

#Prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#Prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#Prodetails .single-pro-details button{
    background-color: #f3f707;
    color: #000000;
    transition: 0.2s ease;
}

#Prodetails .single-pro-details button:hover{
    box-shadow: 1px 1px 12px 1px #ecee67;
}

#Prodetails .single-pro-details span{
    line-height: 25px;
}

/*Cart Page*/

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    border-radius: 20px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding : 10px 5px 10px 15px;
    font-weight: 600;
}

#cart table thead{
    border : 1px solid #ffffff;
    border-left : none;
    border-right : none;
    color : #d1d404
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
    color: #ffffff;
}
/*Start Media Query*/

@media (max-width:768px) {

    .section-p1 {
        padding: 40px 40px;
    }

    #Navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #6b6b6b;
        box-shadow: 0 40px 60px rgba(243, 227, 3, 0.459);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #Navbar.active{
        right: 0px;
    }

    #Navbar li{
        margin-bottom: 25px;
    }

    #Mobile{
        display: flex;
        align-items: center;
    }

    #Mobile i{
        color: #6b6b6b;
        font-size: 24px;
        padding-left: 20px;
    }

    #Mobile a{
        color: #6b6b6b;
    }

    #Close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #d1d404;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #Hero {
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 40%;

    }

    #Product {
        align-items: center;
        justify-content: space-between;
    }

    #Product .As-box {
        margin: 15px 15px;
    }

    #Samples .Pro-container {
        justify-content: center;
    }

    #Samples .Pro {
        margin: 15px;
    }

    #Banner {
        height: 20vh;
    }

    #SM-Banner .Banner-box {
        min-width: 100%;
        height: 30vh;
        margin: 5px;
    }

    #Newsletter .Form {
        width: 70%;
    }
}

@media (max-width: 477px){

    .section-p1 {
        padding: 20px;
    }

    body {
        width: 100%;
        background-color: rgba(24, 24, 24, 0.966);
    }

    #Header {
        padding: 3px 30px;
    }

    #Header .Logo {
        width: 150px;
        height: 50px;
    }

    #Hero {
        padding: 0 10px;
        background-position: 55%;
        text-align: center;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 25px;
    }

    h4{
        font-size: 15px;
    }

    #Product {
        padding: 0px 6px;
        justify-content: space-between;
    }

    #Product .As-box {
    width: 145px;
    margin: 0 0 15px 0;
    box-shadow: 2px 2px 12px 2px #a2a0a0;
    }

    #Product .As-box h6 {
        font-size: 15px;
    }

    #Samples h2 {
        font-size: 20px;
    }

    #Banner {
        height: 35vh;
    }

    #Newsletter .Form {
        width: 100%;
    }

    #Newsletter {
        padding : 40px 10px;
    }

    #Newsletter button {
        padding: 17px 15px;
    }

    footer .Col .Logo {
        width: 75%;
        height: 75%;
    }

    /*Single Product*/

    #Prodetails {
        display: flex;
        flex-direction: column;
    }

    #Prodetails .single-pro-image {
        width: 100%;
    }

    #Prodetails .single-pro-details {
        width: 100%;
    }

}